.home-conatiner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}
.shirts-parent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.cart-container{
  margin-top: 20px;
 background-color: coral;
 padding: 15px;
 border-radius: 5px;
 color: white;
 height: auto;
}